@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes showAndHide {
  0% {
    transform: translateX(-200%);
  }
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: calc(10px + 2vmin);
  color-scheme: light dark;
  color: rgb(85, 238, 85);
  background: linear-gradient(rgb(0, 43, 0), rgb(0, 63, 0));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#server-check {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  font-size: 0.6rem;
}

#start-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-direction: row;
  position: relative;
}
#start-page #logo {
  width: 40vh;
  height: 40vh;
  background-image: url("./assets/logo.png");
  background-position: center;
  background-size: cover;
}
#start-page #form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}
#start-page #form > input {
  width: 100%;
}
#start-page #form > #buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: row;
}
@media (orientation: portrait) {
  #start-page {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column-reverse;
  }
  #start-page #logo {
    width: 40vmin;
    height: 40vmin;
  }
}

#room-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100vh;
  background: rgba(0, 0, 0, 0.9);
  transition: transform 0.2s linear;
}
#room-options.visible {
  transform: translateY(100vh);
}
#room-options #cardset-points {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
}
#room-options #cardset-points .column {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: column;
}
#room-options #cardset-points .column .row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  flex-direction: column;
  font-size: 0.7rem;
  font-weight: bold;
}

#options-button-container {
  position: fixed;
  right: 1.3rem;
  top: 1.3rem;
}

#card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 2rem;
  height: 3rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.1s linear;
}
#card p {
  margin: 0;
}
#card.black {
  color: black;
}
#card.red {
  color: red;
}
#card.hidden {
  background: linear-gradient(rgb(255, 216, 216), rgb(255, 157, 157));
}
#card.hidden p {
  display: none;
}
#card.selected {
  transform: translateY(-0.5rem);
  box-shadow: 0 0 0.5rem yellow;
}

#wait-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
}
#wait-list nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  flex-direction: row;
}
#wait-list div {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.2rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#wait-list div.ready {
  background-color: rgb(135, 255, 135);
  color: rgb(0, 53, 0);
}
#wait-list div.owner {
  color: rgb(180, 180, 236);
}
#wait-list div.owner.ready {
  color: rgb(87, 87, 116);
}
#wait-list div.you {
  color: rgb(255, 255, 48);
  font-weight: bold;
}
#wait-list div.you.ready {
  color: rgb(128, 128, 9);
}

#loader {
  width: 2rem;
  height: 2rem;
  border-left: 0.2rem solid white;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

button {
  padding: 0.3rem;
  font-size: 0.8rem;
  color: rgb(135, 255, 135);
  background-color: rgb(0, 53, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-direction: row;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
}
button.rounded {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
button:focus, button:hover {
  background-color: rgb(0, 95, 0);
}

input {
  padding: 0.2rem;
  font-size: 0.7rem;
  border: 0.1rem solid rgb(0, 36, 0);
  background-color: rgb(135, 255, 135);
  color: rgb(0, 53, 0);
  border-radius: 0.3rem;
}
input.centered {
  text-align: center;
}

#notifications-box {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60vw;
  max-width: 400px;
  max-height: 100vh;
  top: 0;
  left: 0;
  padding-left: 0.2rem;
  z-index: 99999;
}

#notification {
  background: linear-gradient(rgb(147, 255, 147), rgb(182, 235, 182));
  border: 0.1rem solid rgb(0, 34, 0);
  color: rgb(0, 77, 0);
  margin: 0.2rem;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  transform: translateX(-200%);
}

#game {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#game > #game-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.2rem;
  background: linear-gradient(rgb(0, 71, 0), rgb(0, 99, 0));
}
#game > #game-top-bar > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  flex-direction: row;
}
#game > #game-top-bar div:nth-child(3) {
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
}
#game > #game-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
#game > #game-bottom-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0.3rem;
  background: linear-gradient(rgb(0, 99, 0), rgb(0, 71, 0));
}/*# sourceMappingURL=index.css.map */