@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes showAndHide {
  0% {
    transform: translateX(-200%);
  }
  10% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

@keyframes opacityBlink {
  0% {
    background: rgba($color: #000000, $alpha: 0.9);
  }
  50% {
    background: rgba($color: #000000, $alpha: 0.7);
  }
  100% {
    background: rgba($color: #000000, $alpha: 0.9);
  }
}

@keyframes playerBlink {
  0% {
    background: $playerBackground;
  }
  50% {
    background: $playerDarkBackground;
  }
  100% {
    background: $playerBackground;
  }
}

@keyframes showHideAnimation {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.3);
  }
}
