@import "./variables";

@mixin root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: calc(10px + 2vmin);

  color-scheme: light dark;
  color: $rootFontColor;
  background: $rootBackgroundColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin body {
  margin: 0;
  height: 100vh;
}
