@mixin root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: calc(10px + 2vmin);

  color-scheme: light dark;
  color: $rootFontColor;
  background: $rootBackgroundColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin rootDiv {
  width: 100%;
  height: 100vh;
  @include flexDisplay();
  position: relative;
}

@mixin all {
  box-sizing: border-box;
}

@mixin body {
  margin: 0;
  height: 100vh;
  background: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin checkServer {
  @include flexDisplay($gap: 0.5rem);
  font-size: 0.6rem;
}

@mixin startPage {
  @include flexDisplay($dir: row, $gap: 3rem);
  position: relative;
  #logo {
    width: 40vh;
    height: 40vh;
    background-image: url("./assets/logo.png");
    background-position: center;
    background-size: cover;
  }
  #form {
    @include flexDisplay($gap: 0.5rem);
    & > input {
      width: 100%;
    }
    & > #buttons {
      @include flexDisplay($dir: row, $gap: 0.5rem);
    }
  }
  @media (orientation: portrait) {
    @include flexDisplay($dir: column-reverse, $gap: 0.5rem);
    #logo {
      width: 40vmin;
      height: 40vmin;
    }
  }
}

@mixin optionsButtonContainer {
  position: fixed;
  right: 1.3rem;
  top: 1.3rem;
}

@mixin roomOptions {
  @include flexDisplay($dir: column, $gap: 0.5rem);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100vh;
  background: rgba($color: #000000, $alpha: 0.9);
  transition: transform 0.2s linear;
  &.visible {
    transform: translateY(100vh);
  }
  #cardset-points {
    @include flexDisplay($dir: row, $gap: 1rem);
    .column {
      @include flexDisplay($dir: column, $gap: 0.5rem);
      .row {
        @include flexDisplay($dir: column, $gap: 0.3rem);
        font-size: 0.7rem;
        font-weight: bold;
      }
    }
  }
}

@mixin card {
  @include flexDisplay($dir: column);
  width: 2rem;
  height: 3rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  background-color: white;
  user-select: none;
  cursor: pointer;
  transition: all 0.1s linear;
  p {
    margin: 0;
  }
  &.black {
    color: black;
  }
  &.red {
    color: red;
  }
  &.hidden {
    p {
      display: none;
    }
    background: $cardHiddenBackground;
  }
  &.selected {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 0.5rem yellow;
  }
}

@mixin waitList {
  @include flexDisplay($dir: column, $justify: flex-start, $gap: 0.2rem);
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
  nav {
    @include flexDisplay($dir: row, $gap: 0.2rem);
  }
  div {
    width: 70%;
    max-width: 600px;
    background-color: rgba($color: #000000, $alpha: 0.7);
    padding: 0.2rem;
    border-radius: 5rem;
    transition: 0.3s;
    @include flexDisplay;
    &.ready {
      background-color: $buttonFontColor;
      color: $buttonBackgroundColor;
    }
    &.owner {
      color: $roomOwnerFontColor;
      &.ready {
        color: $roomOwnerFontDarkColor;
      }
    }
    &.you {
      color: $isYouFontColor;
      font-weight: bold;
      &.ready {
        color: $isYouFontDarkColor;
      }
    }
  }
}

@mixin loader {
  width: 2rem;
  height: 2rem;
  border-left: 0.2rem solid white;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@mixin button {
  padding: 0.3rem;
  font-size: 0.8rem;
  color: $buttonFontColor;
  background-color: $buttonBackgroundColor;
  @include flexDisplay($dir: row, $gap: 0.5rem);
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  &.rounded {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }
  &:focus,
  &:hover {
    background-color: $buttonHoverBackgroundColor;
  }
}

@mixin input {
  padding: 0.2rem;
  font-size: 0.7rem;
  border: 0.1rem solid $inputBorderColor;
  background-color: $inputBackgroundColor;
  color: $inputFontColor;
  border-radius: 0.3rem;
  &.centered {
    text-align: center;
  }
}

@mixin notificationBox {
  position: fixed;
  @include flexDisplay($dir: column);
  width: 60vw;
  max-width: 400px;
  max-height: 100vh;
  top: 0;
  left: 0;
  padding-left: 0.2rem;
  z-index: 99999;
}

@mixin notification {
  background: $notificationBackground;
  border: 0.1rem solid $notificationBorderColor;
  color: $notificationFontColor;
  margin: 0.2rem;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  transform: translateX(-200%);
}

@mixin game {
  width: 100%;
  height: 100vh;
  position: relative;
  @include flexDisplay();
  #game-top-bar {
    @include flexDisplay($dir: row, $justify: space-between);
    flex-wrap: wrap;
    width: 100%;
    padding: 0.2rem;
    background: $gameTopBoardBackground;
    div {
      @include flexDisplay($dir: row, $gap: 0.2rem);
    }
    div:nth-child(3) {
      text-align: center;
      width: 100%;
      font-size: 0.8rem;
      font-weight: bold;
      letter-spacing: 0.2rem;
    }
  }
  #game-content {
    @include flexDisplay($justify: flex-start, $gap: 0.5rem);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    width: 100%;
    flex: 1;
    #player {
      background: $playerBackground;
      border-radius: 0.4rem;
      padding: 0.3rem;
      width: 95%;
      max-width: 700px;
      &.turn {
        animation: playerBlink 1s linear infinite;
      }
      #player-info {
        @include flexDisplay($dir: row, $gap: 0.5rem, $justify: flex-start);
        span {
          display: block;
          font-size: 0.8rem;
          font-weight: bold;
          color: $playerInfoFontColor;
        }
        div {
          background-color: rgba($color: #000000, $alpha: 0.8);
          color: white;
          font-weight: bold;
          text-align: center;
          flex: 1;
          border-radius: 1rem;
        }
      }
      #player-cards {
        @include flexDisplay($dir: row);
        #card {
          transform: scale(0.9);
        }
      }
    }
  }
  #game-bottom-bar {
    @include flexDisplay();
    width: 100%;
    padding: 0.3rem;
    position: relative;
    background: $gameBottomBoardBackground;
    #my-cards {
      position: relative;
      @include flexDisplay($dir: row, $gap: 0.5rem);
    }
    #my-points {
      padding-top: 0.2rem;
      @include flexDisplay($dir: row, $gap: 0.5rem);
    }
    #card-set {
      position: absolute;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.8);
      font-weight: bold;
      top: 1rem;
      text-align: center;
      color: white;
    }
    #finish-round {
      @include flexDisplay();
      background-color: rgba($color: #000000, $alpha: 0.7);
      font-size: 2rem;
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      user-select: none;
      animation: opacityBlink 1s linear infinite;
    }
  }
  #swipe-cards {
    position: fixed;
    @include flexDisplay($dir: column, $gap: 0.5rem);
    background: rgba($color: #000000, $alpha: 0.9);
    border-radius: 0.6rem;
    width: 70%;
    padding: 0.5rem;
    animation: opacityBlink 1s linear infinite;
    p {
      margin: 0.2rem;
    }
  }
  #animation-box {
    position: fixed;
    @include flexDisplay();
    width: 100%;
    height: 100vh;
    user-select: none;
    &.royal-flush {
      background-color: black;
      animation: royalFlushHide 20s linear forwards;
    }
    #animation {
      padding: 1rem;
      background: $notificationBackground;
      border: 0.2rem solid $notificationBorderColor;
      border-radius: 0.8rem;
      color: $notificationFontColor;
      &.royal-flush {
        background: $notificationBorderColor;
        border: 0.2rem solid $notificationBackground;
        color: white;
        img,
        #nick {
          animation: showCardSetAndNick 20s linear forwards;
        }
      }
      @include flexDisplay($dir: column, $gap: 0.6rem);
      img {
        width: 50vw;
        max-width: 500px;
      }
      #nick {
        @include flexDisplay($dir: column, $gap: 0.3rem);
        span {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      #symbols {
        @include flexDisplay($dir: row, $gap: 0.3rem);
        padding: 0.3rem;
        span {
          font-size: 2rem;
          font-weight: bold;
          &.black {
            color: black;
          }
          &.red {
            color: red;
          }
        }
      }
      animation: showHideAnimation 2s linear forwards;
      &.royal-flush {
        animation: showHideAnimation 20s linear forwards;
      }
    }

    #royal-symbols {
      width: 100%;
      height: 100vh;
      position: fixed;
      span {
        display: block;
        position: fixed;
        padding: 2rem;
        font-size: 4rem;
        &.black {
          color: white;
        }
        &.red {
          color: red;
        }
        animation: spinAndScale 4s linear infinite;
      }
      span:nth-child(1) {
        left: 0;
        top: 0;
      }
      span:nth-child(2) {
        right: 0;
        top: 0;
      }
      span:nth-child(3) {
        left: 0;
        bottom: 0;
      }
      span:nth-child(4) {
        right: 0;
        bottom: 0;
      }
    }
  }
}
