@mixin root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: calc(10px + 2vmin);

  color-scheme: light dark;
  color: $rootFontColor;
  background: $rootBackgroundColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin all {
  box-sizing: border-box;
}

@mixin body {
  margin: 0;
  height: 100vh;
  background: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin checkServer {
  @include flexDisplay($gap: 0.5rem);
  font-size: 0.6rem;
}

@mixin startPage {
  @include flexDisplay($dir: row, $gap: 3rem);
  position: relative;
  #logo {
    width: 40vh;
    height: 40vh;
    background-image: url("./assets/logo.png");
    background-position: center;
    background-size: cover;
  }
  #form {
    @include flexDisplay($gap: 0.5rem);
    & > input {
      width: 100%;
    }
    & > #buttons {
      @include flexDisplay($dir: row, $gap: 0.5rem);
    }
    & > #form-error {
      background-color: $formErrorBackgroundColor;
      color: $formErrorFontColor;
      padding: 0.3rem;
      font-size: 0.7rem;
      border-radius: 0.4rem;
    }
  }
  @media (orientation: portrait) {
    @include flexDisplay($dir: column-reverse, $gap: 0.5rem);
    #logo {
      width: 40vmin;
      height: 40vmin;
    }
  }
}

@mixin optionsButtonContainer {
  position: fixed;
  right: 1.3rem;
  top: 1.3rem;
}

@mixin roomOptions {
  @include flexDisplay($dir: column, $gap: 0.5rem);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: -100vh;
  background: rgba($color: #000000, $alpha: 0.9);
  transition: transform 0.2s linear;
  &.visible {
    transform: translateY(100vh);
  }
  #cardset-points {
    @include flexDisplay($dir: row, $gap: 1rem);
    .column {
      @include flexDisplay($dir: column, $gap: 0.5rem);
      .row {
        @include flexDisplay($dir: column, $gap: 0.3rem);
        font-size: 0.7rem;
        font-weight: bold;
      }
    }
  }
}

@mixin card {
  @include flexDisplay($dir: column);
  width: 2rem;
  height: 3rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  background-color: white;
  user-select: none;
  transition: all 0.1s linear;
  p {
    margin: 0;
  }
  &.black {
    color: black;
  }
  &.red {
    color: red;
  }
  &.hidden {
    p {
      display: none;
    }
    background: $cardHiddenBackground;
  }
  &.selected {
    transform: translateY(-0.5rem);
    box-shadow: 0 0 0.5rem yellow;
  }
}

@mixin waitList {
  @include flexDisplay($dir: column, $justify: flex-start, $gap: 0.2rem);
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
  nav {
    @include flexDisplay($dir: row, $gap: 0.2rem);
  }
  div {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    padding: 0.2rem;
    border-radius: 5rem;
    @include flexDisplay;
    &.ready {
      background-color: $buttonFontColor;
      color: $buttonBackgroundColor;
    }
  }
}

@mixin loader {
  width: 2rem;
  height: 2rem;
  border-left: 0.2rem solid white;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

@mixin button {
  padding: 0.3rem;
  font-size: 0.8rem;
  color: $buttonFontColor;
  background-color: $buttonBackgroundColor;
  @include flexDisplay($dir: row, $gap: 0.5rem);
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  &.rounded {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }
  &:focus,
  &:hover {
    background-color: $buttonHoverBackgroundColor;
  }
}

@mixin input {
  padding: 0.2rem;
  font-size: 0.7rem;
  border: 0.1rem solid $inputBorderColor;
  background-color: $inputBackgroundColor;
  color: $inputFontColor;
  border-radius: 0.3rem;
  &.centered {
    text-align: center;
  }
}
