$rootBackgroundColor: linear-gradient(rgb(0, 43, 0), rgb(0, 63, 0));
$rootFontColor: rgb(85, 238, 85);

$buttonBackgroundColor: rgb(0, 53, 0);
$buttonHoverBackgroundColor: rgb(0, 95, 0);
$buttonFontColor: rgb(135, 255, 135);

$inputBackgroundColor: rgb(135, 255, 135);
$inputBorderColor: rgb(0, 36, 0);
$inputFontColor: rgb(0, 53, 0);

$formErrorBackgroundColor: rgb(58, 0, 0);
$formErrorFontColor: rgb(255, 142, 142);

$cardHiddenBackground: linear-gradient(rgb(255, 216, 216), rgb(255, 157, 157));
