$rootBackgroundColor: linear-gradient(rgb(0, 43, 0), rgb(0, 63, 0));
$rootFontColor: rgb(85, 238, 85);

$buttonBackgroundColor: rgb(0, 53, 0);
$buttonHoverBackgroundColor: rgb(0, 95, 0);
$buttonFontColor: rgb(135, 255, 135);

$inputBackgroundColor: rgb(135, 255, 135);
$inputBorderColor: rgb(0, 36, 0);
$inputFontColor: rgb(0, 53, 0);

$cardHiddenBackground: linear-gradient(rgb(255, 216, 216), rgb(255, 157, 157));

$notificationBackground: linear-gradient(
  rgb(147, 255, 147),
  rgb(182, 235, 182)
);
$notificationBorderColor: rgb(0, 34, 0);
$notificationFontColor: rgb(0, 77, 0);

$roomOwnerFontColor: rgb(180, 180, 236);
$roomOwnerFontDarkColor: rgb(87, 87, 116);
$isYouFontColor: rgb(255, 255, 48);
$isYouFontDarkColor: rgb(128, 128, 9);

$gameTopBoardBackground: linear-gradient(rgb(0, 71, 0), rgb(0, 99, 0));
$gameBottomBoardBackground: linear-gradient(rgb(0, 99, 0), rgb(0, 71, 0));

$playerBackground: rgb(255, 255, 125);
$playerDarkBackground: rgb(151, 151, 70);
$playerInfoFontColor: rgb(0, 61, 0);
